/* soft UA reset */
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* my style begins here */
body {
    font-family: system-ui, -apple-system, Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* background-color: blue; */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4.6fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;

    background-color: #5943DB;
    padding: 15px;
    color: white;
}

/* sidebar style begins here */

.side-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;

    display: flex;
    justify-content: start;
    column-gap: 4px;
}

.side-heading h4 {
    margin: 0;
    font-size: 1.2rem;
}

.dashboard-icon {
    height: 28px;
    width: 28px;
}

.side-content {
    height: 55%;
    display: grid;
    grid-template-rows: 2.4fr 1fr;
    row-gap: 40px;
}

.sidebar-links.upper ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    align-content: space-between;
}

.sidebar-links.lower ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    align-content: space-between;
}

.sidebar-links img {
    width: 20px;
    height: 20px;

    margin-right: 10px;
}

.sidebar-links ul li {
    display: flex;
    align-items: center;
    min-height: 25px;
}

.sidebar-links a {
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.075ch;
}

/* sidebar style ends here */

/* header begins here */
.header {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 10px;
}

.upper-header,
.lower-header {
    display: grid;
    height: 50%;
    column-gap: 15px;
}

.upper-header {
    grid-template-columns: 1fr 11fr 1fr 1.2fr 4fr;
}

#search-icon,
#notification-icon {
    height: 20px;
    width: 20px;

    justify-self: center;
}

.upper-header img:nth-child(4) {
    height: 32px;
    width: 32px;

    justify-self: center;
}

.upper-header div:last-child {
    font-weight: bold;
    font-size: 0.9rem;
}

#search-box {
    align-self: start;

    width: 85%;
    height: 25px;
    border: 0;
    border-radius: 10px;
    background-color: #E8E9ED;
    box-shadow: 0 1px 2px 1px #8F92A3;
}

.lower-header {
    display: grid;
    grid-template-columns: 1fr 11fr 1.2fr 1.2fr 1.2fr;
    column-gap: 15px;

    padding-right: 110px;
}

.lower-header img {
    justify-self: center;
}

.lower-header div {
    font-weight: bold;
    font-size: 0.65rem;
    line-height: 1.4;
}

.lower-header>div span:nth-child(2),
.lower-header>div span:last-child {
    font-size: 1.25rem;
}

.lower-header button {
    align-self: center;
    background-color: #5943DB;
    color: white;
    font-weight: bold;

    height: 25px;
    border: 0;
    padding: 3px 6px;
    border-radius: 10px;
}

/* header ends here */

/* .main-content style begins here */

.main-content {
    background-color: #E5E7EB;
    padding-bottom: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content>div {
    width: 97%;
    height: 92%;
    /* background-color: red; */

    display: grid;
    grid-template-columns: 4fr 1.15fr;
    column-gap: 12px;
    color: black;
}

.main-content>div>div {
    /* background-color: saddlebrown; */
    /* border: 2px solid black; */
}

.primary-card h5 {
    margin: 0 0 5px 0;
    font-size: 0.85rem;
}

.primary-card p,
.secondary-card p {
    margin: 0;
}

.secondary-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.secondary-card>div {
    background-color: purple;
    border: 1px solid yellow;
}

.secondary-card h5 {
    margin: 0 0 5px 0;
}

.card-container {
    /* background-color: palevioletred; */
    height: calc(100% - 23px);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
    gap: 18px;
}

.item-card {
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    padding: 25px 15px 15px;
}

.card-text {
    height: 120px;
    margin-bottom: 10px;

    font-size: 0.7rem;
}

.card-text>h5 {
    color: black;
}

.card-text>p {
    color: #A38F9C;
}

.action-icon {
    /* background-color: red; */
    height: 25px;
    width: 105px;
    margin-left: 55%;
    /* margin-left: clamp(20px, 55%, 75px); */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-icon img {
    height: 20px;
    width: 20px;
}

/* .main-content style ends here */


/* my style ends here */